---
- name: Remove demo VM
  kubernetes.core.k8s:
    state: absent
    api_version: kubevirt.io/v1
    kind: VirtualMachine
    name: "{{ ocp4_workload_rhel9_vm_name }}"
    namespace: "{{ ocp4_workload_rhel9_vm_namespace }}"

- name: Remove demo namespace
  kubernetes.core.k8s:
    state: absent
    api_version: v1
    kind: Namespace
    name: "{{ ocp4_workload_rhel9_vm_namespace }}"
